{% extends "blog/base.html" %}
{% block content %}
<br><br>
<h4>How do I...</h4>
<table>
  <tbody>
    <tr>
      <td>Create a Procedure to Install an Application?</td>
      <td rowspan="100" width="10">&nbsp;</td>
      <td><a title="Create an Install Procedure" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/CreateInstallProcedure.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Create a Ninite-Pro Procedure to Install/Update/Remove an Application?</td>
      <td><a title="Create a Ninite-Pro Procedure" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/Create_a_Ninite-Pro_Installer.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Create a new Customer or Site?</td>
      <td><a title="Create a new Customer or Site" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/Create_a_New_Customer_or_Site.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Define a Client with Both Managed and Unmanaged Agents?</td>
      <td><a title="Managed + Unmanaged" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/ManagedUnmanaged.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Control EMM Tool Deployment</td>
      <td><a title="Control EMM Deployment" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/Control_EMM_Tool_Deployment.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Customize Maintenance?</td>
      <td><a title="Customize Maintenance" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/CustomizeMaintenance.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Customize the Maintenance Interface?</td>
      <td><a title="Customize the Maintenance Interface" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/Customize_the_Maintenance_Interface.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Diagnose Maintenance Failures?</td>
      <td><a title="Diagnose Maintenance Failures" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/DiagnoseMaintFailures.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Modify the Remote Control Notification policy?</td>
      <td><a title="Remote Control Notices" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/RemoteControlNotices.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Customize the Daily Audit?</td>
      <td><a title="Customize the Daily Audit" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/CollectCustomAuditData.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Create a Disk Capacity Override?</td>
      <td><a title="Create a Disk Capacity Override" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/Create_a_Disk_Smart_Monitor_Override.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Create a Custom Auto-Pilot Monitor?</td>
      <td><a title="Create a Custom Auto-Pilot Monitor" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/Create_a_Custom_Auto-Pilot_Monitor.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Configure KNM Monitoring?</td>
      <td><a title="Configure KNM Monitoring" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/ConfigureKNM.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Allow MSPB Auto-Updates?</td>
      <td><a title="Allow MSPB Auto-Updates" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/AllowAuto-Updates.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Maintain my VSA Platform?</td>
      <td><a title="Maintain my VSA Platform" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/Maintain_my_VSA_Platform.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Create a custom Server Patch Schedule?</td>
      <td><a title="Create a custom Server Patch Schedule" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/Customize_Server_Patch_Schedules.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Prevent servers from rebooting when patching?</td>
      <td><a title="Prevent Servers from Rebooting when Patching" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/Create_a_Server_No_Reboot_Patch_Policy.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Set up the Application Install Folders?</td>
      <td><a title="Set up the Application Install Folders" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/Configure_Application_Support_Install_Files.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Customize the Agent Onboarding process?</td>
      <td><a title="Customize the Agent Onboarding process" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/Customize_Agent_Onboarding.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
    <tr>
      <td>Configure the Agent Redeploy files?</td>
      <td><a title="Configure the Agent Redeploy files" href="https://dist.mspbuilder.com/_media_/Documents/HowDoI/Configure_the_Agent_Redeployment_files.pdf" target="_blank"><img src="https://www.mspbuilder.com/Data/Sites/1/media/Icons/PdfLogo32.png" alt="" width="32" height="32" vspace="2" /></a></td>
    </tr>
  </tbody>
</table>
{% endblock content %}