{% extends "blog/base.html" %}
{% block content %}
<div>
    <br>
    <br>
    <div>
      <h1>We <i>are</i> MSP Builder</h1>
      <p>One of our core values is "continuous improvement", which makes us hypersensitive to the efficiency of every tool in our suite. When we identify an issue or an opportunity, we do everything we can to find the right solution, even if it means building it ourselves.</p>
      <h3>We help MSPs focus on their business and customers instead of their RMM platform.</h3>
      <p>We provide a fully-documented solution for operating your Kaseya VSA that automates 80-90% of administration, allowing you to seamlessly withstand staff turnover. We deliver an endpoint Daily Maintenance solution that works, even when an agent isn't connected to VSA. We go beyond providing basic monitors with Smart Monitors&nbsp;that automatically set their own appropriate thresholds, self-resolve many conditions, and don't "cry wolf" the instant a threshold is crossed. We intelligently interface between VSA and your PSA, eliminate false alerts, run A-P based remediations, suppress and combine duplicate events, and handle after-hours / on-call notifications based on customer, event priority, and day/time. We provide training for our MSP clients covering our products, VSA operations, and Enterprise-level IT Best Practices scaled to suit&nbsp;MSP needs. We understand how MSPs operate and what they need to be effective.</p>
      <br>
      <h3><i>We did it so you don't have to!<sup>™</sup></i></h3>
      <br>
    </div>
</div>
{% endblock content %}
